@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --font-logo: "Alfa Slab One", cursive;
  --sidebar-color: #40613a;
  --sidebar-header-color: #395934;
  --main-font: "Roboto", sans-serif;
}

body {
  background: #eee;
}

#side_nav {
  background: var(--sidebar-color);
  min-width: 280px;
  max-width: 280px;
  min-height: 100vh;
}

.content {
  min-height: 100vh;
  width: 100%;
}

.header-box h1 {
  color: #fff;
}
.header-text {
  font-size: 40px !important;
}

.header-box h1 .logo {
  font-family: var(--font-logo);
}

.header-box {
  background: var(--sidebar-header-color);
  position: relative;
  min-height: 90px;
}

.logo-x {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 24px;
  height: 11px;
  border: 2px solid var(--sidebar-header-color);
  border-radius: 2px;
  z-index: 2;
}

.logo-y {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 24px;
  height: 11px;
  border: 2px solid var(--sidebar-header-color);
  border-radius: 2px;
  transform: rotate(90deg);
  z-index: 2;
}

.logo-y::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 7px;
  background: #fff;
  transform: rotate(90deg);
  border-radius: 2px;
  z-index: 1;
}

.logo-x::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 22px;
  height: 9px;
  background: #fff;
  transform: rotate(90deg);
  border-radius: 2px;
  z-index: 1;
}

.sidebar li.active {
  background: #fff;
  border-radius: 5px;
}
.sidebar ul li:hover,
.sidebar li a:hover {
  cursor: pointer;
  background: #fff;
  color: #242424;
  border-radius: 5px;
}

.sidebar li a {
  color: #fff;
  font-family: var(--main-font) !important;
  transition: all 0.2s;
}

.sidebar li.active a {
  color: #242424;
  font-weight: bold;
}

.navbrand {
  font-size: 1.5rem !important;
  
}

div label span.required {
  color: red;
}
label.error {
  display: block;
  float: none;
  color: red;
  padding-left: .5em;
}


div.modal-header {
  background: var(--sidebar-header-color);
}

h5.modal-title-head {
  color: #fff;
}

.manual-error {
  display: none;
}